fastapi==0.121.2
uvicorn==0.37.0
SQLAlchemy==2.0.44
mysql-connector-python==9.5.0
Jinja2==3.1.6
python-multipart==0.0.20
python-jose==3.5.0
passlib==1.7.4
bcrypt==5.0.0
python-dotenv==1.1.1
requests==2.32.4
openpyxl==3.1.2
pywebpush
apscheduler
starlette
pydantic
anyio
h11
httpx
itsdangerous
MarkupSafe
certifi
idna
sniffio
typing_extensions
six
python-dateutil
pytz
tzdata
urllib3
websockets
watchfiles
click
colorama
